/* 
	sparksql styles
	important: these should be namespaced
	example:
		let's say you are creating an app called "calculator"; you should prefix all your styles with your application's name like so
		
		.calculator img {
			border: 1px solid #000;
		}
		.calculator p {
			margin: 10px 0px;
		}
		etc...

	other notes:
	* don't use ids - there may be more than one of your apps open; use classes!
	* the toolbar element is absolutely positioned and 100% wide (and therefor 0px high);
	  any elements inside it should also be absolutely positioned
*/

.sparksql img.sparksql_icon {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 27px;
	left: 3px;
}

#dangerMessage{
	width:99.6%;
}
#sql_context{
	overflow-y: visible;
	height: 160px;
	width: 99%;
}

#sparksql-execute {
	margin-top: 100px;
	margin-right: -120px;
	width: 80px;
}

.th_title{
	background-color: #ccc;
}

.single{
	background: rgba(20, 199, 185, 0.21) ;
}

.double{
	background: rgba(177, 240, 232, 0.36);
}

.loading-mask{background-color:#000;opacity:0.30;filter:alpha(opacity=30);}
.loading{display:inline-block;*display:inline;*zoom:1;top:50%;left:50%;padding:20px 40px 16px;background-color:#fff;text-align:center;color:#666;font-size:12px;border:1px solid #888;border-radius:2px;box-shadow:2px 2px 0 #999;}
.loading > img{margin:0 10px 0 0;position:relative;top:-2px;}