 		
		.clog-highchart-widget {
			z-index: 20;
			position: relative;
			border-style: ridge;
			border-width:2px;
			margin-top:5px;
			margin-bottom:5px;
			margin-right: 10px;
			margin-left: 10px;
			background-color: rgb(249, 249, 249);
		}
		
		.server-highchart-widget {
			z-index: 20;
			position: relative;
			border-style: ridge;
			border-width:2px;
			margin-top:5px;
			margin-bottom:5px;
			margin-right: 5px;
			margin-left: 0px;
			background-color: rgb(249, 249, 249);	
			height:280px; 
		}		
		
		.times{
			border:1px solid #CCC ;
			height:33px !Important;
			width:180px;
			margin-top:2px !Important;
			margin-bottom:0px !Important;
		}
		
		.likes{
			border:1px solid #CCC ;
			height:33px !Important;
			width:280px;
			margin-top:2px !Important;
			margin-bottom:0px !Important;
			margin-right:15px;
		}
		
		.addMetric{
			border:1px solid #CCC ;
			margin-left: 5px !Important;
			margin-right: 5px !Important;
			height: 30px !Important;
			font-size: 14px !Important;
		}
		
		.job_table{
			border:1px;		
			border-color: gray;
			padding-top: 3px;
			background-color:lightcyan;
			border-collapse: collapse; 
			border-spacing: 0; 
			width: 100%
		}
				
		.job_table td.content{
			padding-top:0;
		}
		
		.thread_head{
			background-color:gainsboro !important;
			padding: 2px 0px 2px 5px ;
			cursor: pointer;
			* cursor: hand;
			height:3em;
			border-width:1px !important;
		} 
		  
		.ui-progressbar {
			height: 1em;
			min-width: 5em
		}
		  
		.tbody_line{
			vertical-align:top;
			margin:2px 2px 2px 2px;
			backgroudColor:#CCC;
		}
		
		.thread_head tbody_line  tr td{
			border-width:thin;
		}   
		
		.tfoot_line td{
			 height: 4em; 
		}
		
		/*button style */
		.btns{			
			float:right;
			margin-right:20px;
			margin-bottom:2px;
			width:390px;
		}
		.btnstyle{
			border-style: none;
			margin-right:1px;	
		}
		.btnstyle:hover{
			
 			background-color: rgb(204, 198, 198);
		}
		
		body{
			padding-top:60px!Important;
		}
		

		.panel-body{
			padding:5px !important;
		}
		
		.panel panel-info{
			float:left!important;
		}				
		
		/**scroll TOP*/
		#scrollUp {
			display: none;
			position: fixed;
			z-index: 9999;
			bottom: 0;
			right: 2px;
			width: 48px;
			height: 50px;
			margin-bottom:35px;
			cursor: pointer;
			background: url(../art/go_top.png) 0 0 no-repeat;
		}
		
		#scrollUp:hover {
			background-position: -48px 0;
		}
		
		.pages{
			margin-left:2px;
			margin-right:2px;
			float:right;
		}
		
		.pages a:hover{
			text-decoration:none;
		}
		
		input[type='text']{
			height:28px !important;
		}
		
		.nav{
			margin-bottom: 0px !important;
		}
		
		/* css for timepicker */
		#ui-datepicker-div{z-index:20 !important;}
		.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
		.ui-timepicker-div dl { text-align: left; }
		.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
		.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
		.ui-timepicker-div td { font-size: 90%; }
		.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
		
		.ui-timepicker-rtl{ direction: rtl; }
		.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
		.ui-timepicker-rtl dl dt{ float: right; clear: right; }
		.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
		
		/**/
		.ui-corner-right .ui-icon{
			
			background-image:url(../art/ui-icons_888888_256x240.png) !important;
		}	
		
	/*table*/
	.paging_full_numbers {
		width: 350px !important;
	}	
		
	.dataTables_paginate {
		width: auto;
	}
	
	.dataTables_info {
		padding-top: 3px;
	}
	
	table.display thead th {
		padding: 3px 0px 3px 10px;
		cursor: pointer;
		* cursor: hand;
	}
	
	div.dataTables_wrapper .ui-widget-header {
		font-weight: normal;
	}
	
	
/*
 * Sort arrow icon positioning
 */
table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;

	padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}

.dataTables_wrapper {
	position: relative;
	/*min-height: 302px;
	_height: 302px;*/
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 16%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
}

table.display tfoot th {
	padding: 3px 0px 3px 10px;
	font-weight: bold;
	font-weight: normal;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}

.dataTables_scroll {
	clear: both;
}
.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}


td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

/* Striping */
tr.odd { background: rgba(255, 255, 255, 0.1); }
tr.even { background: rgba(0, 0, 255, 0.05); }


/*
 * Sorting classes for columns
 */
tr.odd td.sorting_1 { background: rgba(0, 0, 0, 0.3); }
tr.odd td.sorting_2 { background: rgba(0, 0, 0, 0.2); } 
tr.odd td.sorting_3 { background: rgba(0, 0, 0, 0.2); }
tr.even td.sorting_1 { background: rgba(0, 0, 0, 0.1); }
tr.even td.sorting_2 { background: rgba(0, 0, 0, 0.6); }
tr.even td.sorting_3 { background: rgba(0, 0, 0, 0.6); }

.css_left { position: relative; float: left; }
.css_right { position: relative; float: right; }